@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --header-height: 100px;
  --footer-height: 50px;
  --main-white: rgb(255, 255, 255);
  --main-black: rgb(0, 0, 0);
  --bg-color: rgb(220, 204, 253);
  --button: rgb(185, 160, 228);
  --button-hover: rgb(158, 128, 202);
  --button-active: rgb(131, 96, 178);
  --footer-color: rgb(113, 80, 124);
}

body {
  font-family: 'Inria Sans', sans-serif;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  height: var(--header-height);
}

select {
  /* appearance: none; */
  background-color: transparent;
  border: 1px solid var(--bg-color);
  border-radius: 5px;
  padding: 5px;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
}

.password {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  width: 100%;
}

.password-container {
  background-color: var(--main-white);
  padding: 25px;
  border-radius: 10px;
}

.title {
  text-align: center;
  padding: 25px;
  font-size: clamp(1rem, 3.5vw, 4rem);
  color: var(--main-black);
}
.list {
  display: grid;
  grid-template-columns: 300px auto;
  align-items: baseline; 
  margin-bottom: 10px; 
  gap: 10px;
  padding: 5px;
}

.list-title {
  font-size: 20px;
  margin: 0;
}

.list-input {
  border: none;
  background-color: var(--bg-color);
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  color: black;
  border-radius: 5px;
}

.checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.list-checkbox {
  display: inline-block;
  width: 20px;
  aspect-ratio: 1;

  background-color: transparent;
  border: 2px solid var(--footer-color);
  border-radius: 25px;
  vertical-align: sub;
  margin-right: 5px;
  position: relative;
}

.list-checkbox::before {
  content: '';
  display: inline-block;
  width: 10px;
  aspect-ratio: 1;
  background-color: var(--button-active);
  border-radius: 25px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}

.checkbox:checked + .list-checkbox::before {
  transform: translate(-50%, -50%) scale(1);

}

.button-wrapper {
  margin-bottom: 10px;
}

.button {
  margin: auto;
  border: none;
  width: 100%;
  height: 34px;
  border-radius: 5px;
  font-family: 'Inria Sans', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background-color: var(--button); 
  box-shadow:
  rgba(162, 158, 215, 0.10) 1px 2px,
  rgba(162, 158, 215, 0.08) 2px 3px,
  rgba(162, 158, 215, 0.06) 3px 4px,
  rgba(162, 158, 215, 0.04) 4px 5px;
  cursor: pointer;
  transition: all .2s;
}

.button:hover {
  background-color: var(--button-hover);
}

.button:active {
  background-color: var(--button-active);
  box-shadow: none;
}

.new-password-wrapper {
  display: flex;
  gap: 2px;
}

.new-password-copy {
  width: 40px;
  padding: 5px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-color);
  height: var(--footer-height);
}

.footer-text {
  color: #fff;
  text-align: center;
}

@media (max-width: 500px) {
  .list {
    display: grid;
    grid-template-columns: auto;
  }
}