@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inria Sans', sans-serif;
  background-color: rgba(240, 78, 112, 0.5);
  display: flex;
  flex-direction: column;
}

.password {
  margin: auto auto;
  background-color: rgb(255, 255, 255);
  padding: 25px;
  border-radius: 10px;
}

.title {
  text-align: center;
  padding: 25px;
  font-size: clamp(32px, 1.6vw, 40px);
  color: rgb(75, 82, 97);
}

/* .password-container {
 } */

.list {
  display: grid;
  grid-template-columns: 300px auto;
  align-items: baseline; 
  margin-bottom: 10px; 
  gap: 10px;
  padding: 5px;
}

.list-title {
  font-size: 20px;
  margin: 0;
}

.button-wrapper {
  margin-bottom: 10px;
}

.button {
  margin: auto;
  border: none;
  width: 100%;
  height: 34px;
  border-radius: 5px;
  font-family: 'Inria Sans', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background-color: rgb(215, 43, 76); 
  box-shadow:
  rgba(162, 158, 215, 0.10) 1px 2px,
  rgba(162, 158, 215, 0.08) 2px 3px,
  rgba(162, 158, 215, 0.06) 3px 4px,
  rgba(162, 158, 215, 0.04) 4px 5px;
  cursor: pointer;
  transition: all .2s;
}

.button:hover {
  background-color: rgb(190, 12, 44);
}

.button:active {
  background-color: rgb(165, 7, 33);
  box-shadow: none;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(165, 7, 33);
}

.footer-text {
  color: #fff;
  text-align: center;
}

@media (max-width: 500px) {
  .list {
    display: grid;
    grid-template-columns: auto;
  }
}